<?php
require_once( 'Database.php' );

// Tagline Parameters
$taglinePrefix = "baby newt:";

// Site parameters
$siteTitle = "Baby Newt";
$shortSite = "babynewt";
$sitePath = "http://localhost";
$redirectSite = "http://www.google.com";

$welcomeMsg = "Hello, and welcome to $siteTitle.";

$dbProperties = array(
    'name' => 'babynewt',
    'user' => 'babynewt',
    'password' => 'babynewt',
    'host' => 'localhost',
);

// At this point, establish old-style db connection for almost all purposes.
$db = new Database( $dbProperties, true, false );
$link = $db->getOldConnection();
?>
