	form {
		margin: 0;
		padding: 0;
	}
	select,input {
		margin: 0;
		padding: 1px;
	}
	ul,li,table {
		font: inherit;
	}


	/* ripped off of your standard comment post */
	.button {
		margin: 2px; 
		border: 0 none;
	}
	.raised { 
		margin: 1px;
		padding: 1px;
		border-top: 1px solid buttonhighlight;
		border-left: 1px solid buttonhighlight;
		border-bottom: 1px solid buttonshadow;
		border-right: 1px solid buttonshadow;
		background: buttonface;
	}
	.pressed {
		margin: 1px;
		padding: 1px;
		border-top: 1px solid buttonshadow;
		border-left: 1px solid buttonshadow;
		border-bottom: 1px solid buttonhighlight;
		border-right: 1px solid buttonhighlight;
		background: buttonface;
	}


	/* template twelve */
	/* template general layout */
	body {
		margin: 10px;
		padding: 0;
		border: 0 none;
		text-align: center;		/* ie doesnt center well */
	}
	#BLEENmain {
		width: 90%;			/* this template is flexy dummy */
		margin: 0px auto;
		padding: 2px 2px 4px 2px;
		border: 1px solid #000;
		-moz-border-radius: 0.6em;
		background: #E7EADB;						/* default color */
		color: #000;
		text-align: left;
	}
	#BLEENmain textarea.CommentBox {
		width: 500px;			/* a width that seems to please everyone */
	}
	#BLEENmain .sidebar {
		width: 186px;
		margin: 0;
		padding: 0 2px 0 0;
		float: left;
		z-index: 101;
	}
	#BLEENmain #comments, #BLEENmain #posting {
		margin: 0 0 0 188px;		/* to leave space for sidebar */
		padding: 0 0 0 2px;
		border: 0 none;
		border-left: 1px solid #000;	/* ie doesnt do 1px dotted well */
	}
        html>body>#BLEENmain #comments {
		border-left: 1px dotted #000;	/* correction */
	}
	html>body>#BLEENmain #posting {
		border-left: 1px dotted #000;	/* correction */
	}
	.BLEENspacer {
		font: 1px/1px;
		clear: both;
	}


	/* template specific logo and tagline */
	.BLEENlogo {
		margin: 0;
		padding: 0;
		font: 32px georgia, serif;					/* default font */
	}
	.BLEENtagline {
		margin: 0;
		padding: 0;
		font: 11px "century gothic", verdana, sans-serif;		/* default font */
	}


	/* template specific navigation and sidebar */
	.BLEENbar {
		margin: 0;
		margin-bottom: 2px;
		padding: 0;
		background-color: #757F4A;					/* default color */
		font: 9px silkscreen, verdana, sans-serif;			/* default font */
		text-align: right;
		color: #fff;
	}
	.BLEENbuttons {				/* div for holding buttons */
		margin: 0 0 4px 0;
		padding: 0;
	}
	.BLEENsidebar, .BLEENnavigation, #BLEENfilter {
		font: 9px/14px silkscreen, verdana, sans-serif;			/* default font */
	}
	#BLEENfilter {				/* nullfilter */
		margin: 0px;
		padding: 2px;
		height: 150px;
		overflow: auto;
	}
	.BLEENsidebar {
		margin: 0 0 4px 0;
		padding: 0;
		border-top: 1px solid #000;	/* ie doesnt do 1px dotted well */
	}
	html>body .BLEENsidebar {
		border-top: 1px dotted #000;	/* correction */
	}
	.BLEENnavigation {
		margin: 0 0 4px 0;
		padding: 0;
		text-align: right;
	}


	/* ripped off of alistapart */
	.BLEENnavigation ul {
		list-style: none;
		text-align: left;
		margin: 0;
		padding: 0;
		border: 0 none;
	}
	.BLEENnavigation li {
		margin: 0;
		border: 0 none;
		border-bottom: 1px solid #ffefff;
	}
	.BLEENnavigation li a {
		display: block;
		width: 100%;
		padding: 2px 2px 2px 0.5em;
		border-left: 8px solid #454F1A;
		border-right: 8px solid #A5AF7A;
		background-color: #757F4A;
		color: #fff;
		text-decoration: none;
	}
	html>body .BLEENnavigation li a {
		width: auto;
	}
	.BLEENnavigation li a:visited, .BLEENnavigation li a:active {
		color: #fff;
	}
	.BLEENnavigation li a:hover {
		border-left: 8px solid #456F2A;
		border-right: 8px solid #A5CF9A;
		background-color: #759F5A;
		color: #fff;
	}


	/* template specific comment formatting */
	.BLEENavatar {				/* wrapper class */
		margin: 0;
		margin-bottom: 3px;
		padding: 0;
		padding: 2px;
		border-top: 1px solid #999;
	}
	.BLEENname {				/* name of user displayed above comment */
		font-family: "century gothic", sans-serif;
		font-size: 12pt;
		line-height: 12pt;
		letter-spacing: 1px;
	}
	.BLEENnumber {				/* post number, user number above comment */
		height: 15px;
		font-family: silkscreen, tahoma, verdana, sans-serif;
		font-size: 9px;
		float: right; 
		overflow: hidden;
	}
	.BLEENnumber img {			/* hide usernumber images taller than 15px */
		vertical-align: text-top;
		overflow-y: hidden;
	}

	.BLEENcomment {				/* not defined */
	}

	.BLEENbody {
		margin: 0;
		padding: 4px 4px 1px 4px;
	}
	.BLEENfooter {
		margin: 0;
		padding: 1px 4px 4px 4px;
		text-align: right;						/* default align */
	}
	/* end template twelve */



	/* for lackluster iterations */

	body.PEEP {
		margin: 0 0 0 10px;
		padding: 5px;
		font-size: small;
		text-align: left;
	}

	#PEEPposting {
		width: 340px;
		margin: 0;
		padding: 5px;
		position: absolute;
		top: 0;
		right: 0;
	}
	html>body #PEEPposting {
		position: fixed;
	}

	#PEEPposting input, #PEEPposting select {
		font-size: 11px;
		font-family: verdana, sans-serif;
	}

	#PEEPposting textarea.CommentBox {
		width: 320px;
		height: 180px;
		font-size: 11px;
		line-height: 1.8;
		font-family: verdana, sans-serif;
	}
	/* html>body>div textarea.CommentBox {
		width: auto;
	} */

	#PEEPcomments {
		margin-right: 345px;
		padding-right: 15px;
		border-right: 1px solid #111;
	}
	html>body #PEEPcomments {
		border-right: 1px dotted #111;
	}

	.PEEPcomment {
		margin-bottom: 60px;
	}
	.PEEPcommentdata {
		font-size: 9px;
		text-align: right;
	}

	.PEEPtagline, .PEEPdata, .PEEPnavi, .PEEPmisc {
		margin: 0;
		margin-bottom: 2px;
		padding: 0 2px;
		z-index: 2;
	}
	.PEEPtagline {
		font-size: 14px;
		font-family: "century gothic", verdana, sans-serif;
		line-height: 1.2;
	}
	.PEEPtagline img {
	}
	.PEEPdata {
		font-size: 10px;
		font-family: verdana, sans-serif;
		line-height: normal;
		text-align: right;
	}
	.PEEPnavi {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: xx-small;
		font-family: silkscreen, verdana, sans-serif;
		line-height: normal;
		text-align: right;
	}
	.PEEPmisc {
		font-size: 10px;
		font-family: verdana, sans-serif;
		line-height: normal;
		text-align: left;
	}

	.PEEPposters, .PEEPvisitors {
		margin-bottom: 2px;
		font-size: xx-small;
		font-family: silkscreen, verdana, sans-serif;
		line-height: 1.2;
	}

	.PEEPposters {
		float: left;
		width: 160px;
	}
	.PEEPvisitors {
		/*float: left;*/
		margin-left: 168px;
		padding-left: 2px;
		padding-top: 2px;
		border-left: 1px solid #000;
	}