/* avatar toggle for use with templates that use a div class username */
/* created 01 26 03 */
/* updated 01 10 10 */
/* avatars are the work of daveadams */

/* the following is template specific.
   by using multiple classes (ie. div class bleenavatar username)
   one could make this simple attribute declaration rather than 
   assigning padding to each individual username class */

.BLEENavatar{padding-left:65px;padding-bottom:8px;}
.rbid-avatar{padding-left:65px;padding-bottom:8px;}

/* the following is a possible alternative.
   instead of using the padding for the username div, the
   margin for the comment div was altered. all work on this
   alternative was eventually canceled */

/*
.BLEENcomment{margin-left:65px;}
div.adviceCOMMENT,div.audioclubCOMMENT,div.bookclubCOMMENT,div.BradsylvaniaCOMMENT,div.comicClubCOMMENT,div.delusionsCOMMENT,div.dramaClubCOMMENT,div.educationCOMMENT,div.EFTogetherCOMMENT,div.eleven42COMMENT,div.fashionVictimCOMMENT,div.gardeningCOMMENT,div.geekCOMMENT,div.gloatCOMMENT,div.governmentCOMMENT,div.homeImprovementCOMMENT,div.hulkCOMMENT,div.intarnetCOMMENT,div.krittersCOMMENT,div.locomotionCOMMENT,div.memberProjectsCOMMENT,div.moneyCOMMENT,div.mothershipCOMMENT,div.movieclubCOMMENT,div.munchCOMMENT,div.myStupidJobCOMMENT,div.ooopsCOMMENT,div.pedantryCOMMENT,div.phlegmCOMMENT,div.recruitingCOMMENT,div.riddlesCOMMENT,div.rimshotCOMMENT,div.roamCOMMENT,div.schadenfreudeCOMMENT,div.spamCOMMENT,div.spillItCOMMENT,div.storyTimeCOMMENT,div.SummaryCOMMENT,div.testingCOMMENT,div.tomfoolCOMMENT,div.tripleWordScoreCOMMENT,div.whingingCOMMENT,div.wishlistCOMMENT,div.WordPlayCOMMENT,div.XOXOXCOMMENT {margin-left: 65px;}
*/

/* the following is a mass username class attribute defining block.
   this establishes padding to display the avatar, positioning of avatar,
   and the all important no repeating */

.Avogadro, .CrazyUncleJoe, .Cris_W, .Durundal, .Lirp, .MarkAnd, .Neale, .Octaviuz, .OneBallJay, .SapphireBlue, .Sennoma, .Skot, .Succa, .TheBrad, .UserName, .YSA, .Zurls, .aaron, .adriana, .anapestic, .anildash, .apollonia_6, .binkin, .carb, .cCranium, .ceiriog, .clare, .claxton6, .daveadams, .daviobrien, .dayan, .dcehr, .deezer, .djacobs, .emmilliiee, .escapology, .eyeballkid, .finn, .fiona13, .fireproof, .frykitty, .futuredaveadams, .futurejedwards, .futuresnarkout, .girlhacker, .gluechunk, .gluey, .graham, .gummi, .iceberg273, .jargon, .jbushnell, .jddunn, .jedwards, .jennifer13, .jessamyn, .jr, .jragon, .jragon3000, .judith, .juliet, .kafkaesque, .kathryn, .lia, .lirp, .mahogne, .martha, .mathowie, .mattpfeff, .millaniow, .molliebug, .nedlog, .norm, .null, .plumtouch, .redfox, .rodii, .rorschach, .salt, .snarkout, .stavrosthewonderchicken, .sudama, .swifty, .thirteen, .tomcosgrave, .walrus, .zempf {
padding-left: 65px; /* remove if using comment alternative */
background-position: top left;
background-repeat: no-repeat;
}

/* the following is individual user classes */

.Avogadro {background-image: url(http://www.stuffeddog.com/1142/avatars/Avogadro.gif);}
.CrazyUncleJoe {background-image: url(http://www.stuffeddog.com/1142/avatars/CrazyUncleJoe.gif);}
.Cris_W {background-image: url(http://www.stuffeddog.com/1142/avatars/Cris_W.gif);}
.Durundal {background-image: url(http://www.stuffeddog.com/1142/avatars/Durundal.gif);}
.Lirp,.lirp {background-image: url(http://www.stuffeddog.com/1142/avatars/Lirp.gif);}
.MarkAnd {background-image: url(http://www.stuffeddog.com/1142/avatars/MarkAnd.gif);}
.Neale {background-image: url(http://www.stuffeddog.com/1142/avatars/Neale.gif);}
.Octaviuz {background-image: url(http://www.stuffeddog.com/1142/avatars/Octaviuz.gif);}
.OneBallJay {background-image: url(http://www.stuffeddog.com/1142/avatars/OneBallJay.gif);}
.SapphireBlue {background-image: url(http://www.stuffeddog.com/1142/avatars/SapphireBlue.gif);}
.Sennoma {background-image: url(http://www.stuffeddog.com/1142/avatars/Sennoma.gif);}
.Skot {background-image: url(http://www.stuffeddog.com/1142/avatars/Skot.gif);}
.Succa {background-image: url(http://www.stuffeddog.com/1142/avatars/Succa.gif);}
.TheBrad {background-image: url(http://www.stuffeddog.com/1142/avatars/TheBrad.gif);}
.UserName {background-image: url(http://www.stuffeddog.com/1142/avatars/UserName.gif);}
.YSA {background-image: url(http://www.stuffeddog.com/1142/avatars/YSA.gif);}
.Zurls {background-image: url(http://www.stuffeddog.com/1142/avatars/Zurls.gif);}
.aaron {background-image: url(http://www.stuffeddog.com/1142/avatars/aaron.gif);}
.adriana {background-image: url(http://www.stuffeddog.com/1142/avatars/adriana.gif);}
.anapestic {background-image: url(http://www.stuffeddog.com/1142/avatars/anapestic.gif);}
.anildash {background-image: url(http://www.stuffeddog.com/1142/avatars/anildash.gif);}
.apollonia_6 {background-image: url(http://www.stuffeddog.com/1142/avatars/apollonia_6.gif);}
.binkin {background-image: url(http://www.stuffeddog.com/1142/avatars/binkin.gif);}
.carb {background-image: url(http://www.stuffeddog.com/1142/avatars/carb.gif);}
.cCranium {background-image: url(http://www.stuffeddog.com/1142/avatars/cCranium.gif);}
.ceiriog {background-image: url(http://www.stuffeddog.com/1142/avatars/ceiriog.gif);}
.clare {background-image: url(http://www.stuffeddog.com/1142/avatars/clare.gif);}
.claxton6 {background-image: url(http://www.stuffeddog.com/1142/avatars/claxton6.gif);}
.daveadams {background-image: url(http://www.stuffeddog.com/1142/avatars/daveadams.gif);}
.daviobrien {background-image: url(http://www.stuffeddog.com/1142/avatars/daviobrien.gif);}
.dayan {background-image: url(http://www.stuffeddog.com/1142/avatars/dayan.gif);}
.dcehr,.deezer {background-image: url(http://www.stuffeddog.com/1142/avatars/deezer.gif);}
.djacobs {background-image: url(http://www.stuffeddog.com/1142/avatars/djacobs.gif);}
.emmilliiee {background-image: url(http://www.stuffeddog.com/1142/avatars/emmilliiee.gif);}
.escapology {background-image: url(http://www.stuffeddog.com/1142/avatars/escapology.gif);}
.eyeballkid {background-image: url(http://www.stuffeddog.com/1142/avatars/eyeballkid.gif);}
.finn {background-image: url(http://www.stuffeddog.com/1142/avatars/finn.gif);}
.fiona13 {background-image: url(http://www.stuffeddog.com/1142/avatars/fiona13.gif);}
.fireproof {background-image: url(http://www.stuffeddog.com/1142/avatars/fireproof.gif);}
.frykitty {background-image: url(http://www.stuffeddog.com/1142/avatars/frykitty.gif);}
.futuredaveadams {background-image: url(http://www.stuffeddog.com/1142/avatars/futuredaveadams.gif);}
.futurejedwards {background-image: url(http://www.stuffeddog.com/1142/avatars/futurejedwards.gif);}
.futuresnarkout {background-image: url(http://www.stuffeddog.com/1142/avatars/futuresnarkout.gif);}
.girlhacker {background-image: url(http://www.stuffeddog.com/1142/avatars/girlhacker.gif);}
.gluechunk,.gluey {background-image: url(http://www.stuffeddog.com/1142/avatars/gluey.gif);}
.graham {background-image: url(http://www.stuffeddog.com/1142/avatars/graham.gif);}
.gummi {background-image: url(http://www.stuffeddog.com/1142/avatars/gummi.gif);}
.iceberg273 {background-image: url(http://www.stuffeddog.com/1142/avatars/iceberg273.gif);}
.jbushnell {background-image: url(http://www.stuffeddog.com/1142/avatars/jbushnell.gif);}
.jddunn {background-image: url(http://www.stuffeddog.com/1142/avatars/jddunn.gif);}
.jedwards {background-image: url(http://www.stuffeddog.com/1142/avatars/jedwards.gif);}
.jennifer13 {background-image: url(http://www.stuffeddog.com/1142/avatars/jennifer13.gif);}
.jessamyn {background-image: url(http://www.stuffeddog.com/1142/avatars/jessamyn.gif);}
.jr {background-image: url(http://www.stuffeddog.com/1142/avatars/jr.gif);}
.jargon,.jragon,.jragon3000 {background-image: url(http://www.stuffeddog.com/1142/avatars/jragon.gif);}
.judith {background-image: url(http://www.stuffeddog.com/1142/avatars/judith.gif);}
.juliet {background-image: url(http://www.stuffeddog.com/1142/avatars/juliet.gif);}
.kafkaesque {background-image: url(http://www.stuffeddog.com/1142/avatars/kafkaesque.gif);}
.kathryn {background-image: url(http://www.stuffeddog.com/1142/avatars/kathryn.gif);}
.lia {background-image: url(http://www.stuffeddog.com/1142/avatars/lia.gif);}
.mahogne {background-image: url(http://www.stuffeddog.com/1142/avatars/mahogne.gif);}
.martha {background-image: url(http://www.stuffeddog.com/1142/avatars/martha.gif);}
.mathowie {background-image: url(http://www.stuffeddog.com/1142/avatars/mathowie.gif);}
.mattpfeff {background-image: url(http://www.stuffeddog.com/1142/avatars/mattpfeff.gif);}
.millaniow {background-image: url(http://www.stuffeddog.com/1142/avatars/millaniow.gif);}
.molliebug {background-image: url(http://www.stuffeddog.com/1142/avatars/molliebug.gif);}
.nedlog {background-image: url(http://www.stuffeddog.com/1142/avatars/nedlog.gif);}
.norm {background-image: url(http://www.stuffeddog.com/1142/avatars/norm.gif);}
.null {background-image: url(http://www.stuffeddog.com/1142/avatars/null.gif);}
.plumtouch {background-image: url(http://www.stuffeddog.com/1142/avatars/plumtouch.gif);}
.redfox {background-image: url(http://www.stuffeddog.com/1142/avatars/redfox.gif);}
.rodii {background-image: url(http://www.stuffeddog.com/1142/avatars/rodii.gif);}
.rorschach {background-image: url(http://www.stuffeddog.com/1142/avatars/rorschach.gif);}
.salt {background-image: url(http://www.stuffeddog.com/1142/avatars/salt.gif);}
.snarkout {background-image: url(http://www.stuffeddog.com/1142/avatars/snarkout.gif);}
.stavrosthewonderchicken {background-image: url(http://www.stuffeddog.com/1142/avatars/stavrosthewonderchicken.gif);}
.sudama {background-image: url(http://www.stuffeddog.com/1142/avatars/sudama.gif);}
.swifty {background-image: url(http://www.stuffeddog.com/1142/avatars/swifty.gif);}
.thirteen {background-image: url(http://www.stuffeddog.com/1142/avatars/thirteen.gif);}
.tomcosgrave {background-image: url(http://www.stuffeddog.com/1142/avatars/tomcosgrave.gif);}
.walrus {background-image: url(http://www.stuffeddog.com/1142/avatars/walrus.gif);}
.zempf {background-image: url(http://www.stuffeddog.com/1142/avatars/zempf.gif);}

/* Fred Wilhelm has a space in his name which requires a unique Fred or Wilhem class */

.Wilhelm {
padding-left: 65px; /* remove if using comment alternative */
background-position: top left;
background-repeat: no-repeat;
background-image: url(http://www.stuffeddog.com/1142/avatars/Fred%20Wilhelm.gif);
}

/* Aaaugh has an exclamation mark in his name which requires a special escape */

.Aaaugh\! {
padding-left: 65px; /* remove if using comment alternative */
background-position: top left;
background-repeat: no-repeat;
background-image: url(http://www.stuffeddog.com/1142/avatars/Aaaugh!.gif);
}

.Aaaugh! {
padding-left: 65px; /* remove if using comment alternative */
background-position: top left;
background-repeat: no-repeat;
background-image: url(http://www.stuffeddog.com/1142/avatars/Aaaugh!.gif);
}