body {
    margin: 10px;
    padding: 0px;
    text-align: center;
    background: #f2f2e1;
    color: #000;
    }
    a {
    text-decoration: none;
    }
    ul,li,table {
    font: inherit;
    }

    #main {
    margin: 0px auto;
    padding: 2px;
    padding-bottom: 4px;
    background: #FEFEFE;
    border: 1px solid #000;
    -moz-border-radius: 0.6em;
    width: 740px;
    text-align: left;
    }
    #sidebar1, #sidebar2 {
    float: left;
    margin: 0px;
    padding-right: 2px;
    width: 186px;
    z-index: 101;
    }
    #comments, #posting {
    margin: 0px;
    margin-left: 188px;
    padding: 0px;
    padding-left: 2px;
    border-left: 1px dotted #000;
    /* width: 540px; ie cries when this is not here */
    }

    .BLEENlogo {
    margin: 0px;
    padding: 0px;
    font: 32px georgia, serif;
    }
    .BLEENtagline {
    margin: 0px;
    padding: 0px;
    font: 11px "century gothic", verdana, sans-serif;
    }
    .BLEENbar {
    margin-bottom: 2px;
    background: #666633;
    font: 9px silkscreen, verdana, sans-serif;
    text-align: right;
    color: #fff;
    }

    .BLEENavatar {
    border-top: 1px solid #000;
    margin-bottom: 3px;
    padding: 2px;
    }
    .BLEENname {
    font-family: "century gothic", sans-serif;
    font-size: 12pt;
    line-height: 12pt;
    letter-spacing: 1px;
    }
    .BLEENnumber {
    font-family: silkscreen, verdana, sans-serif;
    font-size: 9px;
    height: 15px;
    float: right; 
    overflow: hidden;
    }
    .BLEENnumber img {
    vertical-align: text-top;
    overflow-y: hidden;
    }

    .BLEENfooter {
    text-align: right;
    }

    .BLEENbuttons {
    margin-bottom: 4px;
    }
    .BLEENroster, .BLEENnavigation, .BLEENnotes {
    font: 9px/14px silkscreen, verdana, sans-serif;
    margin-bottom: 4px;
    border-top: 1px dotted #000;
    }
    .BLEENnavigation {
    text-align: right;
    border-top: 0px none;
    }

    .BLEENbody a, .BLEENnotes a {
    text-decoration: none;
    border-bottom: 1px dotted #00f;
    }
    .BLEENbody a:hover, .BLEENnotes a:hover {
    border-bottom: none;
    }

    /* ripped off of your standard comment post */
    .button {
    /* background: buttonface; */
    border: 1px solid #FFFFFF;
    margin: 1px; 
    }
    .raised { 
    border-top: 1px solid buttonhighlight;
    border-left: 1px solid buttonhighlight;
    border-bottom: 1px solid buttonshadow;
    border-right: 1px solid buttonshadow;
    background: buttonface;
    margin: 1px;
    }
    .pressed {
    border-top: 1px solid buttonshadow;
    border-left: 1px solid buttonshadow;
    border-bottom: 1px solid buttonhighlight;
    border-right: 1px solid buttonhighlight;
    background: buttonface;
    margin: 1px;
    }

    /* ripped off of alistapart */
    .BLEENnavigation ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border: none;
    }
    .BLEENnavigation li {
    border-bottom: 1px solid #90bade;
    margin: 0;
    }
    .BLEENnavigation li a {
    display: block;
    padding: 2px 2px 2px 0.5em;
    border-left: 8px solid #1958b7;
    border-right: 8px solid #508fc4;
    background-color: #2175bc;
    color: #fff;
    text-decoration: none;
    width: 100%;
    }
    html>body .BLEENnavigation li a {
    width: auto;
    }

    .BLEENnavigation li a:hover {
    border-left: 8px solid #1c64d1;
    border-right: 8px solid #5ba3e0;
    background-color: #2586d7;
    color: #fff;
    }