/* designed for exclusive use with template [25] lackluster */
/* this stylesheet is dead, it will no longer be updated */
/* Durundal modified Null's magnificent work by changing the background color to leopard print from Leopard Skin Pillbox hat */
body {

    background: url("http://www-personal.engin.umich.edu/~rcj/images/lskin.jpg");
    background-color: #eee9cc;
    margin: 0;
    padding: 10px;
    color: #000;

}

a {
    background-color: inherit;
    text-decoration: none;
    color: #00f;
}
a:visited {
    background-color: inherit;
    color: #01a;
}
a:hover {
    background-color: #eee;
    color: #00f;
}
div.adviceCOMMENTBODY a,div.audioclubCOMMENTBODY a,div.bookclubCOMMENTBODY a,div.BradsylvaniaCOMMENTBODY a,div.comicClubCOMMENTBODY a,div.delusionsCOMMENTBODY a,div.dramaClubCOMMENTBODY a,div.educationCOMMENTBODY a,div.EFTogetherCOMMENTBODY a,div.eleven42COMMENTBODY a,div.fashionVictimCOMMENTBODY a,div.gardeningCOMMENTBODY a,div.geekCOMMENTBODY a,div.gloatCOMMENTBODY a,div.governmentCOMMENTBODY a,div.homeImprovementCOMMENTBODY a,div.intarnetCOMMENTBODY a,div.krittersCOMMENTBODY a,div.memberProjectsCOMMENTBODY a,div.moneyCOMMENTBODY a,div.mothershipCOMMENTBODY a,div.movieclubCOMMENTBODY a,div.munchCOMMENTBODY a,div.myStupidJobCOMMENTBODY a,div.ooopsCOMMENTBODY a,div.pedantryCOMMENTBODY a,div.recruitingCOMMENTBODY a,div.riddlesCOMMENTBODY a,div.rimshotCOMMENTBODY a,div.roamCOMMENTBODY a,div.schadenfreudeCOMMENTBODY a,div.spamCOMMENTBODY a,div.spillItCOMMENTBODY a,div.storyTimeCOMMENTBODY a,div.SummaryCOMMENTBODY a,div.testingCOMMENTBODY a,div.tomfoolCOMMENTBODY a,div.tripleWordScoreCOMMENTBODY a,div.whingingCOMMENTBODY a,div.wishlistCOMMENTBODY a,div.WordPlayCOMMENTBODY a,div.XOXOXCOMMENTBODY a {
    border: 1px dashed #999999;
}

input,select {
    background-color: #ccc7aa;
    font-family: verdana,sans-serif;
    font-size: 9px;
    color: #000;
}
textarea {
    background-color: #fff9dd;
    margin: 0;
    padding: 2px 5px 2px;

    border: 1px solid #000;
    font-family: "trebuchet ms", verdana, sans-serif;
    font-size: 13px;
    color: #000;
}
table,td,ul,ol,li {
    font-size: inherit;
    font-family: inherit;
}

/* stardization of categories */
div.adviceCOMMENT,div.audioclubCOMMENT,div.bookclubCOMMENT,div.BradsylvaniaCOMMENT,div.comicClubCOMMENT,div.delusionsCOMMENT,div.dramaClubCOMMENT,div.educationCOMMENT,div.EFTogetherCOMMENT,div.eleven42COMMENT,div.fashionVictimCOMMENT,div.gardeningCOMMENT,div.geekCOMMENT,div.gloatCOMMENT,div.governmentCOMMENT,div.homeImprovementCOMMENT,div.intarnetCOMMENT,div.krittersCOMMENT,div.memberProjectsCOMMENT,div.moneyCOMMENT,div.mothershipCOMMENT,div.movieclubCOMMENT,div.munchCOMMENT,div.myStupidJobCOMMENT,div.ooopsCOMMENT,div.pedantryCOMMENT,div.recruitingCOMMENT,div.riddlesCOMMENT,div.rimshotCOMMENT,div.roamCOMMENT,div.schadenfreudeCOMMENT,div.spamCOMMENT,div.spillItCOMMENT,div.storyTimeCOMMENT,div.SummaryCOMMENT,div.testingCOMMENT,div.tomfoolCOMMENT,div.tripleWordScoreCOMMENT,div.whingingCOMMENT,div.wishlistCOMMENT,div.WordPlayCOMMENT,div.XOXOXCOMMENT {
    clear: both;
    margin: 0;
    margin-left: 65px;
    padding: 0;
    border: 0 none;
    background-color: inherit;
    background-image: none;
    color: inherit;
}
div.adviceCOMMENTBODY,div.audioclubCOMMENTBODY,div.bookclubCOMMENTBODY,div.BradsylvaniaCOMMENTBODY,div.comicClubCOMMENTBODY,div.delusionsCOMMENTBODY,div.dramaClubCOMMENTBODY,div.educationCOMMENTBODY,div.EFTogetherCOMMENTBODY,div.eleven42COMMENTBODY,div.fashionVictimCOMMENTBODY,div.gardeningCOMMENTBODY,div.geekCOMMENTBODY,div.gloatCOMMENTBODY,div.governmentCOMMENTBODY,div.homeImprovementCOMMENTBODY,div.intarnetCOMMENTBODY,div.krittersCOMMENTBODY,div.memberProjectsCOMMENTBODY,div.moneyCOMMENTBODY,div.mothershipCOMMENTBODY,div.movieclubCOMMENTBODY,div.munchCOMMENTBODY,div.myStupidJobCOMMENTBODY,div.ooopsCOMMENTBODY,div.pedantryCOMMENTBODY,div.recruitingCOMMENTBODY,div.riddlesCOMMENTBODY,div.rimshotCOMMENTBODY,div.roamCOMMENTBODY,div.schadenfreudeCOMMENTBODY,div.spamCOMMENTBODY,div.spillItCOMMENTBODY,div.storyTimeCOMMENTBODY,div.SummaryCOMMENTBODY,div.testingCOMMENTBODY,div.tomfoolCOMMENTBODY,div.tripleWordScoreCOMMENTBODY,div.whingingCOMMENTBODY,div.wishlistCOMMENTBODY,div.WordPlayCOMMENTBODY,div.XOXOXCOMMENTBODY {
    background-image: none;
    margin: 0;
    padding: 7px;
    padding-bottom: 3px;
    font-family: "trebuchet ms", verdana, sans-serif;
    font-size: 13px;
    background-color: inherit;
    color: inherit;
}
div.adviceCOMMENTFOOTER,div.audioclubCOMMENTFOOTER,div.bookclubCOMMENTFOOTER,div.BradsylvaniaCOMMENTFOOTER,div.comicClubCOMMENTFOOTER,div.delusionsCOMMENTFOOTER,div.dramaClubCOMMENTFOOTER,div.educationCOMMENTFOOTER,div.EFTogetherCOMMENTFOOTER,div.eleven42COMMENTFOOTER,div.fashionVictimCOMMENTFOOTER,div.gardeningCOMMENTFOOTER,div.geekCOMMENTFOOTER,div.gloatCOMMENTFOOTER,div.governmentCOMMENTFOOTER,div.homeImprovementCOMMENTFOOTER,div.intarnetCOMMENTFOOTER,div.krittersCOMMENTFOOTER,div.memberProjectsCOMMENTFOOTER,div.moneyCOMMENTFOOTER,div.mothershipCOMMENTFOOTER,div.movieclubCOMMENTFOOTER,div.munchCOMMENTFOOTER,div.myStupidJobCOMMENTFOOTER,div.ooopsCOMMENTFOOTER,div.pedantryCOMMENTFOOTER,div.recruitingCOMMENTFOOTER,div.riddlesCOMMENTFOOTER,div.rimshotCOMMENTFOOTER,div.roamCOMMENTFOOTER,div.schadenfreudeCOMMENTFOOTER,div.spamCOMMENTFOOTER,div.spillItCOMMENTFOOTER,div.storyTimeCOMMENTFOOTER,div.SummaryCOMMENTFOOTER,div.testingCOMMENTFOOTER,div.tomfoolCOMMENTFOOTER,div.tripleWordScoreCOMMENTFOOTER,div.whingingCOMMENTFOOTER,div.wishlistCOMMENTFOOTER,div.WordPlayCOMMENTFOOTER,div.XOXOXCOMMENTFOOTER {
    background-image: none;
    margin: 0;
    margin-bottom: 4px;
    padding: 7px;
    padding-top: 0;
    font-family: verdana, sans-serif;
    font-size: 9px;
    text-align: right;
    background-color: inherit;
    color: inherit;
}

div.adviceCOMMENTBODY,div.adviceCOMMENTFOOTER {
    background-color: #ceceef;
    border-left: 3px solid #ccc7aa;
    border-top: 3px solid #ccc7aa;
    border-right: 3px solid #fffbee;
    border-bottom: 3px solid #fffbee;
}
div.audioclubCOMMENTBODY,div.audioclubCOMMENTFOOTER {
    background-color: #ccd;
    border: 1px solid #eef;
}
div.bookclubCOMMENTBODY,div.bookclubCOMMENTFOOTER {
    background-color: #dcc;
    border: 1px solid #fee;
}
div.BradsylvaniaCOMMENTBODY,div.BradsylvaniaCOMMENTFOOTER {
    background-color: #000;
    border: 2px solid #222;
    color: #0e0;
}
.BradsylvaniaCOMMENTBODY a,.BradsylvaniaCOMMENTBODY a:active,.BradsylvaniaCOMMENTBODY a:visited,.BradsylvaniaCOMMENTFOOTER a,.BradsylvaniaCOMMENTFOOTER a:active,.BradsylvaniaCOMMENTFOOTER a:visited {
    background-color: inherit;
    color: #1e1;
}
.BradsylvaniaCOMMENTBODY a:hover,.BradsylvaniaCOMMENTFOOTER a:hover {
    background-color: #1e1;
    color: #000;
}
div.comicClubCOMMENTBODY,div.comicClubCOMMENTFOOTER {
    background-color: #dd9;
    border: 1px solid #ffe;
}
div.delusionsCOMMENTBODY,div.delusionsCOMMENTFOOTER {
    background-color: #999;
    color: #eee;
}
div.dramaClubCOMMENTBODY,div.dramaClubCOMMENTFOOTER {
    background-color: #eee;
    border: 1px solid #ddd;
}
div.educationCOMMENTBODY,div.educationCOMMENTFOOTER {
    background-color: #bbcca3;
}
div.EFTogetherCOMMENTBODY,div.EFTogetherCOMMENTFOOTER {
    background-color: #efceef;
    border-left: 3px solid #ccc7aa;
    border-top: 3px solid #ccc7aa;
    border-right: 3px solid #fffbee;
    border-bottom: 3px solid #fffbee;
}
div.eleven42COMMENTBODY,div.eleven42COMMENTFOOTER {
    background-color: #eeeeff;
    border-top: 8px solid #ccccff;
    border-bottom: 8px solid #ccccff;
}
div.fashionVictimCOMMENTBODY,div.fashionVictimCOMMENTFOOTER {
    background-color: #dff;
}
div.gardeningCOMMENTBODY,div.gardeningCOMMENTFOOTER {
   background-color: #e0ffe3;
   border: 3px double #3a4;
   }
div.geekCOMMENTBODY,div.geekCOMMENTFOOTER {
   background-color: #00f;
   border: 2px solid #acd;
   color: #fff;
   }
div.geekCOMMENTBODY a,.geekCOMMENTBODY a:active,.geekCOMMENTBODY a:visited,div.geekCOMMENTFOOTER a,.geekCOMMENTFOOTER a:active,.geekCOMMENTFOOTER a:visited {
   background-color: inherit;
   color: #fff;
}
.geekCOMMENTBODY a:hover,.geekCOMMENTFOOTER a:hover {
    background-color: #eee;
    color: #00f;
}
div.gloatCOMMENTBODY,div.gloatCOMMENTFOOTER {
   background-color: #fec;/*#e3ffe0*/
   border: 3px double #ffa500;/*#ac0*/
   }
div.governmentCOMMENTBODY,div.governmentCOMMENTFOOTER {
   background-color: #b6dadf;
   }
div.homeImprovementCOMMENTBODY,div.homeImprovementCOMMENTFOOTER {
   background-color: #eee;
   border: 2px solid #00f;
   color: #00f;
   }
div.homeImprovementCOMMENTBODY a:hover,div.homeImprovementCOMMENTFOOTER a:hover {
   text-decoration: underline;
}
div.intarnetCOMMENTBODY,div.intarnetCOMMENTFOOTER {
   background-color: #ddd;
   }
div.krittersCOMMENTBODY,div.krittersCOMMENTFOOTER {
   background-color: #bbddbb;
   }
div.memberProjectsCOMMENTBODY,div.memberProjectsCOMMENTFOOTER {
   background-color: #ceefce;
   border-left: 3px solid #ccc7aa;
   border-top: 3px solid #ccc7aa;
   border-right: 3px solid #fffbee;
   border-bottom: 3px solid #fffbee;
   }
div.moneyCOMMENTBODY,div.moneyCOMMENTFOOTER {
   background-color: #adf;
   }
div.mothershipCOMMENTBODY,div.mothershipCOMMENTFOOTER {
   background-color: #069;
   border: 2px solid #004D73;
   color: #fff;
   }
.mothershipCOMMENTBODY a,.mothershipCOMMENTFOOTER a {
    background-color: inherit;
    text-decoration: none;
    font-weight: bold;
    color: #cc0;
}
.mothershipCOMMENTBODY a:visited,.mothershipCOMMENTFOOTER a:visited {
    background-color: inherit;
    color: #cc9;
}
.mothershipCOMMENTBODY a:active,.mothershipCOMMENTFOOTER a:active {
    background-color: inherit;
    color: #ffc;
}
.mothershipCOMMENTBODY a:hover,.mothershipCOMMENTFOOTER a:hover {
    background-color: #069;
    text-decoration: none;
    color: #fff;
}
div.movieclubCOMMENTBODY,div.movieclubCOMMENTFOOTER {
   background-color: #333;
   border: 2px solid #999;
   color: #fff;
   }
.movieclubCOMMENTBODY a,.movieclubCOMMENTBODY a:active,.movieclubCOMMENTBODY a:visited,.movieclubCOMMENTFOOTER a,.movieclubCOMMENTFOOTER a:active,.movieclubCOMMENTFOOTER a:visited {
    background-color: inherit;
    color: #aaa;
}
.movieclubCOMMENTBODY a:hover,.movieclubCOMMENTFOOTER a:hover {
    background-color: #aaa;
    color: #fff;
}
div.munchCOMMENTBODY,div.munchCOMMENTFOOTER {
   background-color: #ffc;
   border: 3px double #dc0;
   }
div.myStupidJobCOMMENTBODY,div.myStupidJobCOMMENTFOOTER {
   background-color: #c5ddee;
   }
div.ooopsCOMMENTBODY,div.ooopsCOMMENTFOOTER,.ooopsCOMMENT a,.ooopsCOMMENT a:visited,.ooopsCOMMENT a:active,.ooopsCOMMENT a:hover {
    background-color: #eee9cc;   
    color: #ddd5bb;
}
div.ooopsCOMMENTBODY,div.ooopsCOMMENTFOOTER {
    background-color: #eee9cc;
    border: 2px solid #ddd5bb;
}
div.pedantryCOMMENTBODY,div.pedantryCOMMENTFOOTER {
   background-color: #ccc;
   border-left: 3px solid #fff;
   border-top: 3px solid #fff;
   border-right: 3px solid #000;
   border-bottom: 3px solid #000;
   }
div.recruitingCOMMENTBODY,div.recruitingCOMMENTFOOTER {
   background-color: #efcece;
   border-left: 3px solid #ccc7aa;
   border-top: 3px solid #ccc7aa;
   border-right: 3px solid #fffbee;
   border-bottom: 3px solid #fffbee;
   }
div.riddlesCOMMENTBODY,div.riddlesCOMMENTFOOTER {
   background-color: #fdb;
   }
div.rimshotCOMMENTBODY,div.rimshotCOMMENTFOOTER {
   background-color: #fc9;
   }
div.roamCOMMENTBODY,div.roamCOMMENTFOOTER {
   background-color: #eee;
   border: 2px solid #3c3;
   }
div.roamCOMMENTBODY a,.roamCOMMENTBODY a:active,.roamCOMMENTBODY a:visited,div.roamCOMMENTFOOTER a,.roamCOMMENTFOOTER a:active,.roamCOMMENTFOOTER a:visited {
   background-color: inherit;
   color: #3c3;
}
.roamCOMMENTBODY a:hover,.roamCOMMENTFOOTER a:hover {
    background-color: #3c3;

    color: #cfc;
}
div.schadenfreudeCOMMENTBODY,div.schadenfreudeCOMMENTFOOTER {
   background-color: #eeddaa;
   border: 3px double #ca0;
   }
div.spamCOMMENTBODY,div.spamCOMMENTFOOTER {
   background-color: #fff;
   border: 2px solid #000;
   }
div.spillItCOMMENTBODY,div.spillItCOMMENTFOOTER {
   background-color: #ece;
   }
div.storyTimeCOMMENTBODY,div.storyTimeCOMMENTFOOTER {
   background-color: #feffcc;
   border: 2px solid #000;
   }
div.storyTimeCOMMENTBODY:first-letter {
   font-family: "Old English Text MT", fantasy;
   font-size: 14px;
   text-transform: uppercase;
   }
div.SummaryCOMMENTBODY,div.SummaryCOMMENTFOOTER {
   background-color: #fff;
   border: 2px dotted #000;
   }
div.testingCOMMENTBODY,div.testingCOMMENTFOOTER {
   background-color: #eef;
   border: 2px dashed #000;
   }
div.tomfoolCOMMENTBODY,div.tomfoolCOMMENTFOOTER {
   background-color: #fff9cc;
   border: 2px solid #bbb699;
   }
div.tripleWordScoreCOMMENTBODY,div.tripleWordScoreCOMMENTFOOTER {
   background-color: #d8cfb8;
   }
div.whingingCOMMENTBODY,div.whingingCOMMENTFOOTER {
   background-color: #dcf;
   }
div.wishlistCOMMENTBODY,div.wishlistCOMMENTFOOTER {
   background-color: #fff;
   }
div.WordPlayCOMMENTBODY,div.WordPlayCOMMENTFOOTER {
   background-color: #c0c090;
   }
div.XOXOXCOMMENTBODY,div.XOXOXCOMMENTFOOTER {
   background-color: #ffe3e0;
   border: 3px double #f00;
   }

div.adviceCOMMENTBODY,div.audioclubCOMMENTBODY,div.bookclubCOMMENTBODY,div.BradsylvaniaCOMMENTBODY,div.comicClubCOMMENTBODY,div.delusionsCOMMENTBODY,div.dramaClubCOMMENTBODY,div.educationCOMMENTBODY,div.EFTogetherCOMMENTBODY,div.eleven42COMMENTBODY,div.fashionVictimCOMMENTBODY,div.gardeningCOMMENTBODY,div.geekCOMMENTBODY,div.gloatCOMMENTBODY,div.governmentCOMMENTBODY,div.homeImprovementCOMMENTBODY,div.intarnetCOMMENTBODY,div.krittersCOMMENTBODY,div.memberProjectsCOMMENTBODY,div.moneyCOMMENTBODY,div.mothershipCOMMENTBODY,div.movieclubCOMMENTBODY,div.munchCOMMENTBODY,div.myStupidJobCOMMENTBODY,div.ooopsCOMMENTBODY,div.pedantryCOMMENTBODY,div.recruitingCOMMENTBODY,div.riddlesCOMMENTBODY,div.rimshotCOMMENTBODY,div.roamCOMMENTBODY,div.schadenfreudeCOMMENTBODY,div.spamCOMMENTBODY,div.spillItCOMMENTBODY,div.storyTimeCOMMENTBODY,div.SummaryCOMMENTBODY,div.testingCOMMENTBODY,div.tomfoolCOMMENTBODY,div.tripleWordScoreCOMMENTBODY,div.whingingCOMMENTBODY,div.wishlistCOMMENTBODY,div.WordPlayCOMMENTBODY,div.XOXOXCOMMENTBODY {
   border-bottom: 0 none;
}
div.adviceCOMMENTFOOTER,div.audioclubCOMMENTFOOTER,div.bookclubCOMMENTFOOTER,div.BradsylvaniaCOMMENTFOOTER,div.comicClubCOMMENTFOOTER,div.delusionsCOMMENTFOOTER,div.dramaClubCOMMENTFOOTER,div.educationCOMMENTFOOTER,div.EFTogetherCOMMENTFOOTER,div.eleven42COMMENTFOOTER,div.fashionVictimCOMMENTFOOTER,div.gardeningCOMMENTFOOTER,div.geekCOMMENTFOOTER,div.gloatCOMMENTFOOTER,div.governmentCOMMENTFOOTER,div.homeImprovementCOMMENTFOOTER,div.intarnetCOMMENTFOOTER,div.krittersCOMMENTFOOTER,div.memberProjectsCOMMENTFOOTER,div.moneyCOMMENTFOOTER,div.mothershipCOMMENTFOOTER,div.movieclubCOMMENTFOOTER,div.munchCOMMENTFOOTER,div.myStupidJobCOMMENTFOOTER,div.ooopsCOMMENTFOOTER,div.pedantryCOMMENTFOOTER,div.recruitingCOMMENTFOOTER,div.riddlesCOMMENTFOOTER,div.rimshotCOMMENTFOOTER,div.roamCOMMENTFOOTER,div.schadenfreudeCOMMENTFOOTER,div.spamCOMMENTFOOTER,div.spillItCOMMENTFOOTER,div.storyTimeCOMMENTFOOTER,div.SummaryCOMMENTFOOTER,div.testingCOMMENTFOOTER,div.tomfoolCOMMENTFOOTER,div.tripleWordScoreCOMMENTFOOTER,div.whingingCOMMENTFOOTER,div.wishlistCOMMENTFOOTER,div.WordPlayCOMMENTFOOTER,div.XOXOXCOMMENTFOOTER {
    border-top: 0 none;
} 